@import '_variables';

a {
  color: $sf-base-color-blue;

  &:hover {
    color: $sf-base-color-darkblue;
  }
}

button {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 14px;
  text-transform: none !important;
  border-radius: $sf-border-radius;
}

.sf-baselayout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sf-button--primary {
  background: $sf-base-color-blue;

  &:not(:disabled):hover {
    background: lighten($sf-base-color-blue, 10%);
  }
  &:not(:disabled):focus {
    background: darken($sf-base-color-blue, 5%);
  }
}

.sf-button--danger {
  color: $sf-base-color-red;
  &:hover {
    color: $sf-dark-color-red;
  }
}

.tn-button--link,
.tn-button--text,
.tn-modal__button-secondary {
  color: $sf-base-color-blue;
}

.tn-form__group {
  &:last-child {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.tn-card {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: none;

  flex: 1;
  height: calc(100% - 20px);
  .tn-card__media {
    margin: 20px 0 20px 20px;
  }
  .tn-card__content {
    padding: 20px;
  }
}

.tn-card--button .tn-card__header,
.tn-card[role='button'] .tn-card__header {
  color: $sf-base-color-blue;
}

.tn-dropdown__item {
  .tn-button {
    width: 100%;
    text-align: left;
    padding: 0;
    &:hover {
      color: #fff;
    }
  }
  &:hover {
    background: $mf-base-color-light-grey;
    color: #515559;
  }

  .tn-button:hover {
    color: $sf-base-color-blue;
  }
}

.tn-badge {
  margin-right: 8px;
  margin-bottom: 8px;
  border: none;
  background: #515559;
  color: #fff;
  text-transform: none;
}

.tn-modal__title {
  font-size: 18px;
  font-weight: bold;
}

.tn-button--text {
  &:hover {
    text-decoration: underline;
  }
}

input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea {
  height: 36px;
  border-radius: $sf-border-radius;
  padding-left: 8px;
  padding-right: 8px;
  border-color: $sf-base-color-grey;

  &:focus {
    border-color: $sf-base-color-blue;
  }
}

input[type='checkbox'],
input[type='radio'] {
  &:checked {
    border-color: $sf-base-color-blue;
    background-color: $sf-base-color-blue;
  }
}

.tn-form__label,
.tn-form__legend {
  margin-bottom: 6px;
}

input[type='checkbox'] {
  border-radius: $sf-border-radius;
}

// THIS IS A OVERWITE FOR THE Y-GENERIC LIST - WHICH SHOULD BE MOVED AFTER BETA!
// -----------------------------------------------------------------------------

.search-circle__close {
  background-color: $sf-base-color-blue !important;
}

.search__input[type='text'] {
  border: 1px solid $sf-base-color-grey !important;
  background: #fff;
  color: #515559 !important;
}

.filters {
  background-color: $sf-base-color-blue !important;
  position: relative !important;
  margin-right: 0;
}

.fd-action-bar {
  &__actions {
    flex-shrink: 0; //another bug when search input is expanded
    .fd-popover {
      top: 0; /*  There is a bug from Fiori Fundamentals.
                  When action bar includes popover with `fd-button--primary` class,
                  then it's not aligned with other buttons in row anymore,
                  because it has `top: - fd-space(1)` by default.
                  Until it's fixed in Fundamentals, better to keep these styles to overwrite it.
              */
    }
  }
}

//Tables
.fd-table {
  &__th--min,
  &__td--min {
    width: 8.33333%;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  td {
    vertical-align: top;
  }

  &.y-fd-table {
    margin-bottom: 0;

    $possible-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
    @each $i in $possible-columns {
      &__th--col-#{$i} {
        width: calc(100% / 12 * #{$i});
      }
    }

    &__tr--no-border-below {
      border-bottom: 0;
    }

    &__tr--no-border-below + tr {
      border-top: 0;
    }

    tr {
      cursor: default;
    }

    td a {
      cursor: pointer;
    }
  }
}

.y-fd-token {
  // replaced with constants because variables were somehow not accessible
  margin-bottom: 8px;
  margin-right: 8px;
  &.y-fd-token--no-button {
    cursor: default;
    &:after {
      all: unset;
    }
  }
}
