//Overwrite bg color for modals overlay
.y-fd-modal {
  .fd-modal-background {
    background-color: rgba(74, 80, 92, 0.3) !important;
    opacity: 1 !important;
  }

  //Common styles for modals
  .fd-modal__footer {
    .fd-button {
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .fd-modal--large {
    .fd-modal {
      max-width: 650px;
    }
  }

  .fd-modal__close:focus {
    box-shadow: none;
  }
}

.y-fd-action-bar {
  .fd-action-bar__actions {
    flex-shrink: 0;
    .fd-popover {
      top: 0; /*  There is a bug from Fiori Fundamentals.
                  When action bar includes popover with `fd-button--primary` class,
                  then it's not aligned with other buttons in row anymore,
                  because it has `top: - fd-space(1)` by default.
                  Until it's fixed in Fundamentals, better to keep these styles to overwrite it.
              */
    }
  }
}

//Tables
.y-fd-table {
  margin-bottom: 0;

  &__th--min,
  &__td--min {
    width: 8.33333%;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  $possible-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
  @each $i in $possible-columns {
    &__th--col-#{$i} {
      width: calc(100% / 12 * #{$i});
    }
  }

  &__tr--no-border-below {
    border-bottom: 0;
  }

  &__tr--no-border-below + tr {
    border-top: 0;
  }

  tr {
    cursor: default;
  }

  td {
    vertical-align: top;
    a {
      cursor: pointer;
    }
  }

  //for link-button in tables
  span {
    &.fd-link {
      cursor: pointer;
    }
  }
}

//Breadcrumbs
.y-fd-breadcrumb {
  a {
    cursor: pointer;
  }
}

//Panel
.y-fd-panel {
  display: block;
  &--button {
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 5px 0 rgba(fd-color('text', 3), 0.4);
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .fd-panel__body {
    &--bleed {
      .fd-table {
        td:last-child,
        th:last-child {
          padding-right: 24px;
        }

        td:first-child,
        th:first-child {
          padding-left: 24px;
        }
      }
    }
  }
}

//Token
.y-fd-token {
  margin-top: fd-space('tiny') / 2;
  margin-bottom: fd-space('tiny') / 2;
  margin-right: fd-space('tiny');
  &.y-fd-token--no-button {
    cursor: default;
    &:after {
      all: unset;
    }
  }
}

//helpers
.y-word-wrap {
  word-wrap: break-word;
}
