//Overwrite bg color for modals overlay
fd-modal {
  .fd-modal-background {
    background-color: rgba(74,80,92,.3) !important;
    opacity: 1 !important;
  }
}

.fd-action-bar {
  &__actions {
    .fd-popover{
      top: 0; /*  There is a bug from Fiori Fundamentals.
                  When action bar includes popover with `fd-button--primary` class,
                  then it's not aligned with other buttons in row anymore,
                  because it has `top: - fd-space(1)` by default.
                  Until it's fixed in Fundamentals, better to keep these styles to overwrite it.
              */
    }
  }
}



//Common styles for modals
.fd-modal__footer {
  .fd-button {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.fd-modal--large {
  .fd-modal {
    max-width: 650px;
  }
}


//Tables
.fd-table {
  &__th--min,
  &__td--min {
    width: 8.33333%;
  }
}


//Breadcrumbs
.fd-breadcrumb {
  a {
    cursor: pointer;
  }
}


//Panel
.fd-panel {
  display: block;

  &__body {
    &--bleed {

      .fd-table {
        td:last-child,
        th:last-child {
          padding-right: 24px;
        }

        td:first-child,
        th:first-child {
          padding-left: 24px;
        }
      }
    }
  }
}

.y-fd-panel {
  &--button {
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 5px 0 rgba(fd-color("text",3), 0.4);
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}


//for link-button in tables
span {
  &.fd-link {
    cursor: pointer;
  }
}


//Token
.y-fd-token {
  margin-bottom: fd-space('tiny');
  margin-right: fd-space('tiny');
  &.y-fd-token--no-button {
    cursor: default;
    &:after {
      all: unset;
    }
  }
}


//helpers
.y-word-wrap {
  word-wrap: break-word;
}
.word-break {
  word-break: break-all;
}
