<section class="fd-section">
  <fd-breadcrumb>
    <fd-breadcrumb-item>
      <a fd-breadcrumb-link (click)="navigateToList()">
        Secrets 
      </a>
    </fd-breadcrumb-item>
    <fd-breadcrumb-item>
      <span fd-breadcrumb-link>
        {{ secretName }} 
      </span>
    </fd-breadcrumb-item>
  </fd-breadcrumb>
  <fd-action-bar>
    <fd-action-bar-header>
      <fd-action-bar-title>
        {{ secretName }} 
      </fd-action-bar-title>
    </fd-action-bar-header>
    <fd-action-bar-actions>
      <app-edit-resource [resourceData]="secretDetails"></app-edit-resource>
    </fd-action-bar-actions>
  </fd-action-bar>

  <p *ngIf="loading">
    Loading ...
  </p>

  <div class="fd-alert fd-alert--error fd-has-margin-bottom-small" role="alert" *ngIf="!loading && errorMessage">
    {{ errorMessage }}
  </div>


  <fd-panel *ngIf="secretDetails">
    <fd-panel-header>
      <fd-panel-head>
        <fd-panel-title>Details</fd-panel-title>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body [bleed]="true">
      <fd-panel-grid [col]="6" [nogap]="true">
        <fd-panel [columnSpan]="2">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Name</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="4">
          <fd-panel-body>
            {{ secretDetails.metadata.name }}
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="2">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Namespace</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="4">
          <fd-panel-body>
            {{ secretDetails.metadata['namespace'] }}
          </fd-panel-body>
        </fd-panel>
        <fd-panel *ngIf="annotations" [columnSpan]="2">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Annotations</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel *ngIf="annotations" [columnSpan]="4">
          <fd-panel-body>
            <div *ngFor="let annotationInfo of annotations">
              <span class="fd-link" title="Show annotation information" (click)="annotationDetails(infos)">
                {{ annotationInfo.name }}
              </span>
              <app-information-modal #infos [title]="annotationInfo.name" [message]="annotationInfo.value"></app-information-modal>
            </div>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="2">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Creation time</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="4">
          <fd-panel-body>
            {{ secretDetails.metadata.creationTimestamp }}
          </fd-panel-body>
        </fd-panel>
      </fd-panel-grid>
    </fd-panel-body>
  </fd-panel>
</section>

<section class="fd-section" *ngIf="secretDetails">
  <fd-panel>
    <fd-panel-header>
      <fd-panel-head>
        <fd-panel-title>Data</fd-panel-title>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body [bleed]="true">
      <div *ngFor="let dataInfo of data" >
        <div *ngIf="!dataInfo.show">
          <fd-panel-grid [col]="6" [nogap]="true">
            <fd-panel [columnSpan]="1">
              <fd-panel-body>
                <label class="fd-has-color-text-4">{{ dataInfo.name }}</label>
              </fd-panel-body>
            </fd-panel>
            <fd-panel [columnSpan]="1">
              <fd-panel-body>
                <span class="fd-link" (click)="toggleSecret(dataInfo)">Show details</span>
              </fd-panel-body>
            </fd-panel>
            <fd-panel [columnSpan]="4">
              <fd-panel-body>
                <span> {{ dataInfo.length }} bytes </span>
              </fd-panel-body>
            </fd-panel>
          </fd-panel-grid>
        </div>
        <div *ngIf="dataInfo.show">
          <fd-panel-grid [col]="6" [nogap]="true">
            <fd-panel [columnSpan]="1">
              <fd-panel-body>
                <label class="fd-has-color-text-4">{{ dataInfo.name }}</label>
              </fd-panel-body>
            </fd-panel>
            <fd-panel [columnSpan]="1">
              <fd-panel-body>
                <span class="fd-link" (click)="toggleSecret(dataInfo)"> Hide details </span>
              </fd-panel-body>
            </fd-panel>
            <fd-panel [columnSpan]="4" class="y-word-wrap">
              <fd-panel-body>
                <span> {{ dataInfo.value }} </span>
              </fd-panel-body>
            </fd-panel>
          </fd-panel-grid>
        </div>
      </div>
    </fd-panel-body>
  </fd-panel>
</section>
