$possible-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

.fd-table {
  @each $i in $possible-columns {
    .y-fd-table__th--col-#{$i} {
      width: calc(100% / 12 * #{$i});
    }
  }

  .y-fd-table__tr--no-border-below {
    border-bottom: 0;
  }

  .y-fd-table__tr--no-border-below + tr {
    border-top: 0;
  }
}

.y-fd-table {
  margin-bottom: 0;
}
