<section class="fd-section">
  <fd-breadcrumb>
    <fd-breadcrumb-item>
      <a fd-breadcrumb-link (click)="navigateToList()" href="#">
        Services
      </a>
    </fd-breadcrumb-item>
    <fd-breadcrumb-item>
      <span fd-breadcrumb-link>
        {{ serviceName }}
      </span>
    </fd-breadcrumb-item>
  </fd-breadcrumb>

  <fd-action-bar>
    <fd-action-bar-header>
      <fd-action-bar-title>
        {{ serviceName }}
      </fd-action-bar-title>
    </fd-action-bar-header>
    <fd-action-bar-actions>
        <app-edit-resource [resourceData]="serviceDetails"></app-edit-resource>
    </fd-action-bar-actions>
  </fd-action-bar>

  <p *ngIf="serviceDetailsLoading">
    Loading ...
  </p>

  <div class="fd-alert fd-alert--error fd-has-margin-bottom-small" role="alert" *ngIf="!serviceDetailsLoading && errorMessage">
    {{ errorMessage }}
  </div>

  <fd-panel *ngIf="serviceDetails">
    <fd-panel-header>
      <fd-panel-head>
        <fd-panel-title>General information</fd-panel-title>
      </fd-panel-head>
    </fd-panel-header>

    <fd-panel-body [bleed]="true">
      <fd-panel-grid [col]="6" [nogap]="true">
        <fd-panel [columnSpan]="1">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Name</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="5">
          <fd-panel-body>{{ serviceDetails.metadata.name }}</fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="1">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Namespace</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="5">
          <fd-panel-body>{{ serviceDetails.metadata.namespace }}</fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="1">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Cluster IP</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="5">
          <fd-panel-body>{{ serviceDetails.spec.clusterIP }}</fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="1">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Creation date</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="5">
          <fd-panel-body>{{ serviceDetails.metadata.creationTimestamp }}</fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="1" *ngIf="serviceDetails.metadata.labels">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Labels</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="5" *ngIf="serviceDetails.metadata.labels">
          <fd-panel-body>
            <span class="fd-token y-fd-token y-fd-token--no-button" *ngFor="let key of objectKeys(serviceDetails.metadata.labels)">{{ key }}={{ serviceDetails.metadata.labels[key] }} </span>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="1">
          <fd-panel-body>
            <label class="fd-has-color-text-4">Internal endpoints</label>
          </fd-panel-body>
        </fd-panel>
        <fd-panel [columnSpan]="5">
          <fd-panel-body>
            <span *ngFor="let port of serviceDetails.spec.ports">
              <span>{{ serviceDetails.metadata.name }}.{{ serviceDetails.metadata.namespace }}:{{ port.port }} {{ port.protocol }}</span>
              <br>
              <span>{{ serviceDetails.metadata.name }}.{{ serviceDetails.metadata.namespace }}:{{ port.nodePort || 0 }} {{ port.protocol }}</span>
              <br>
            </span>
          </fd-panel-body>
        </fd-panel>
      </fd-panel-grid>
    </fd-panel-body>
  </fd-panel>
</section>
  
<section class="fd-section">
  <fd-panel>
    <fd-panel-header>
      <fd-panel-head>
        <fd-panel-title>Exposed APIs</fd-panel-title>
      </fd-panel-head>
      <fd-panel-actions>
        <button fd-button [options]="'light'" (click)="openExposeApi()">
          + Expose API
        </button>
      </fd-panel-actions>
    </fd-panel-header>
    <fd-panel-body [bleed]="true">
      <app-filtered-apis></app-filtered-apis>
    </fd-panel-body>
  </fd-panel>
</section>
